<div class="row">
	<h2>ショッピングカート</h2>
	<%= link_to "カートを空にする", empty_path, method: :delete, class: "" %>
</div>

<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th colspan="2">商品名</th>
					<th>単価(税込)</th>
					<th colspan="2">数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>

			<tbody>

				<% @cart_products.each do |cart_product| %>
				<tr>
					<td></td>
					<td><%= cart_product.product.name %></td>
					<td>¥<%= cart_product.product.price %></td>
					<td><%= cart_product.quantity %></td>
					<td></td>
					<td><%= link_to "削除する", cart_product_path(cart_product), method: :delete %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
</div>
