<div class="row">

	<div class="col-xs-9">
		<div class="row">
			<h2>商品詳細</h2>
			<div class="product-image"><%= attachment_image_tag(@product, :image, :fill, 174, 100, fallback: "no-image-mini.jpg") %></div>
			<div>
				<p>商品名</p>
				<p><%= @product.name %></p>
				<p>商品説明</p>
				<p><%= @product.description %></p>
				<p>ジャンル</p>
				<p><%= @product.genre.name %></p>
				<p>価格</p>
				<p>¥<%= @product.price %>(税抜き)</p>
				<p>¥<%= @product.tax_price.floor %>(税込)</p>
				<p>販売ステータス</p>
				<% if @product.status == true %>
				<p>販売中</p>
				<% else %>
				<p>販売停止</p>
				<% end %>
			</div>
			<%= link_to "編集する", edit_admins_product_path(@product.id) %>
		</div>
	</div>
</div>