<h1>注文確認画面</h1>
<div class="table table-bordered">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
    <%= @order_products.zip(@order_product) do |product, order_product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= order_product.quantity %></td>
            <td><%= order_product.price %>*<%= order_product.quantity %></td>
        </tr>
    <% end %>
    </tbody>
</div>

<div class="table border-table">
        <tr>
            <th>送料</th>
            <td><%= @order.payment %></td>
        </tr>
        <tr>
            <th>商品合計</th>
            <td><%= @order.total_price %></td>
        </tr>
        <tr>
            <th>請求金額</th>
            <td><%= @order.payment %>+<%= @order.total_price %></td>
        </tr>
</div>

<div class="order_confirm">
# newで入力した支払い方法とお届け先を表示
        <span>支払方法</span><%= @order.payment %>
        <span>お届け先</span>
# 既に登録済みの住所か新しく登録した住所かお届け先を表示
        <% if @destination.address.exists? %>
            <%= @destination.address %>
        <%  elsif @customer.address.exists? %>
            <%= @customer.address %>
        <% end %>
</div>